{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/gabrielsantos004/"><img src="{% static 'images/fb.svg' %}" alt="facebook icon"></a></li>
        <li><a href="linkedin.com/in/ibsen-gabriel-santos/"><img src="{% static 'images/linkedin.svg' %}" alt="linkedin icon"></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->